1. How many campaign available in this dataset
2. How many people with loan and housing
3. How many people with 60+ age
4. In which month we have targeted most of customer
5. Which mode of call giving more result
6. How many entrepreneur in the list
7. How many customer with negative balance
8. Prepare a group of data based on education level

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/LaxmiChaudhary/Ensemble-Techniques-on-Bank-Data/master/bank-full.csv")

In [4]:
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [5]:
# 1. How many campaign available in this dataset
df['campaign'].unique()

array([ 1,  2,  3,  5,  4,  6,  7,  8,  9, 10, 11, 12, 13, 19, 14, 24, 16,
       32, 18, 22, 15, 17, 25, 21, 43, 51, 63, 41, 26, 28, 55, 50, 38, 23,
       20, 29, 31, 37, 30, 46, 27, 58, 33, 35, 34, 36, 39, 44],
      dtype=int64)

In [6]:
df.groupby('campaign')['campaign'].count()

campaign
1     17544
2     12505
3      5521
4      3522
5      1764
6      1291
7       735
8       540
9       327
10      266
11      201
12      155
13      133
14       93
15       84
16       79
17       69
18       51
19       44
20       43
21       35
22       23
23       22
24       20
25       22
26       13
27       10
28       16
29       16
30        8
31       12
32        9
33        6
34        5
35        4
36        4
37        2
38        3
39        1
41        2
43        3
44        1
46        1
50        2
51        1
55        1
58        1
63        1
Name: campaign, dtype: int64

In [7]:
# 2. How many people with loan and housing
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [8]:
df['housing']=='yes'

0         True
1         True
2         True
3         True
4        False
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
45181    False
45182    False
45183    False
45184    False
45185     True
45186    False
45187     True
45188     True
45189    False
45190    False
45191     True
45192    False
45193    False
45194     True
45195    False
45196    False
45197     True
45198    False
45199     True
45200     True
45201    False
45202    False
45203    False
45204    False
45205    False
45206    False
45207    False
45208    False
45209    False
45210    False
Name: housing, Length: 45211, dtype: bool

In [9]:
df_housing = df[df['housing'] == 'yes']
df_housing

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,unknown,5,may,230,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45099,30,management,single,tertiary,no,985,yes,no,cellular,25,oct,304,1,94,2,success,yes
45103,33,admin.,married,secondary,no,51,yes,yes,cellular,25,oct,253,1,284,3,success,yes
45108,36,technician,married,tertiary,no,844,yes,yes,cellular,25,oct,129,1,-1,0,unknown,no
45109,78,management,married,unknown,no,1780,yes,no,cellular,25,oct,211,2,185,7,success,yes
45110,50,management,married,tertiary,no,8205,yes,no,telephone,25,oct,293,3,508,1,other,no
45114,36,technician,single,secondary,no,204,yes,no,cellular,26,oct,196,1,144,8,other,no
45115,30,management,single,tertiary,no,565,yes,no,cellular,26,oct,104,1,-1,0,unknown,no
45122,40,entrepreneur,single,tertiary,no,262,yes,yes,unknown,26,oct,17,1,-1,0,unknown,no
45124,27,blue-collar,single,primary,no,232,yes,no,cellular,26,oct,701,2,-1,0,unknown,yes
45136,53,self-employed,married,tertiary,no,730,yes,no,unknown,2,nov,18,1,368,2,failure,no
45138,30,technician,single,secondary,no,500,yes,no,cellular,8,nov,176,1,543,3,failure,no
45142,34,admin.,married,tertiary,no,79,yes,no,cellular,8,nov,120,2,95,6,success,no
45147,42,admin.,divorced,secondary,no,490,yes,no,cellular,8,nov,212,1,97,5,other,no
45151,47,management,single,tertiary,no,311,yes,yes,cellular,9,nov,255,3,378,2,failure,no
45160,35,technician,married,secondary,no,0,yes,no,cellular,9,nov,524,1,96,5,success,yes
45161,31,management,married,tertiary,no,720,yes,no,cellular,9,nov,94,3,-1,0,unknown,no
45165,33,technician,married,tertiary,no,2976,yes,no,cellular,9,nov,465,2,95,12,other,no
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45169,31,management,married,tertiary,no,2994,yes,no,cellular,10,nov,182,1,229,2,failure,no
45176,54,admin.,married,secondary,no,66,yes,no,cellular,11,nov,167,1,-1,0,unknown,yes
45177,36,admin.,divorced,secondary,no,1224,yes,no,cellular,12,nov,482,1,374,1,success,yes
45178,34,blue-collar,married,secondary,no,320,yes,no,cellular,12,nov,413,1,92,3,success,yes
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes

In [10]:
df_housing[df_housing['loan'] == 'yes']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
32,60,admin.,married,secondary,no,39,yes,yes,unknown,5,may,208,1,-1,0,unknown,no
54,24,technician,single,secondary,no,-103,yes,yes,unknown,5,may,145,1,-1,0,unknown,no
69,35,blue-collar,single,secondary,no,12223,yes,yes,unknown,5,may,177,1,-1,0,unknown,no
70,57,blue-collar,married,secondary,no,5935,yes,yes,unknown,5,may,258,1,-1,0,unknown,no
71,31,services,married,secondary,no,25,yes,yes,unknown,5,may,172,1,-1,0,unknown,no
72,54,management,married,secondary,no,282,yes,yes,unknown,5,may,154,1,-1,0,unknown,no
78,49,services,divorced,secondary,no,0,yes,yes,unknown,5,may,272,1,-1,0,unknown,no
84,46,self-employed,married,tertiary,no,137,yes,yes,unknown,5,may,246,1,-1,0,unknown,no
88,46,management,divorced,secondary,no,16,yes,yes,unknown,5,may,188,2,-1,0,unknown,no
91,30,technician,married,secondary,no,152,yes,yes,unknown,5,may,213,2,-1,0,unknown,no
95,36,management,married,tertiary,no,101,yes,yes,unknown,5,may,426,1,-1,0,unknown,no
112,56,self-employed,married,primary,no,-34,yes,yes,unknown,5,may,212,2,-1,0,unknown,no
123,43,services,married,secondary,no,41,yes,yes,unknown,5,may,127,2,-1,0,unknown,no
126,29,admin.,single,secondary,no,818,yes,yes,unknown,5,may,61,1,-1,0,unknown,no
127,34,services,married,secondary,no,-16,yes,yes,unknown,5,may,78,1,-1,0,unknown,no
133,55,admin.,single,secondary,no,802,yes,yes,unknown,5,may,100,2,-1,0,unknown,no
171,44,services,married,secondary,no,1357,yes,yes,unknown,5,may,250,1,-1,0,unknown,no
188,34,blue-collar,single,secondary,no,53,yes,yes,unknown,5,may,346,1,-1,0,unknown,no
206,41,management,married,tertiary,no,176,yes,yes,unknown,5,may,42,1,-1,0,unknown,no
219,39,management,married,tertiary,no,378,yes,yes,unknown,5,may,127,2,-1,0,unknown,no
239,49,blue-collar,divorced,primary,no,-9,yes,yes,unknown,5,may,389,1,-1,0,unknown,no
240,46,technician,married,secondary,no,349,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
251,53,blue-collar,married,secondary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44182,56,blue-collar,married,secondary,no,813,yes,yes,unknown,14,jul,71,1,-1,0,unknown,no
44212,41,management,divorced,tertiary,no,4567,yes,yes,cellular,16,jul,106,1,-1,0,unknown,no
44221,51,admin.,married,secondary,no,423,yes,yes,cellular,16,jul,84,5,183,2,failure,no
44237,35,management,married,tertiary,no,2374,yes,yes,cellular,20,jul,174,2,215,6,other,no
44294,40,technician,married,secondary,no,0,yes,yes,cellular,26,jul,105,2,172,1,failure,no
44345,28,admin.,single,secondary,no,261,yes,yes,cellular,30,jul,269,7,182,9,success,no
44388,34,admin.,married,tertiary,no,0,yes,yes,cellular,3,aug,108,2,180,7,failure,no
44478,37,blue-collar,married,secondary,no,80,yes,yes,unknown,9,aug,6,1,461,5,failure,no
44600,38,blue-collar,single,primary,no,490,yes,yes,unknown,25,aug,17,1,-1,0,unknown,no
44700,34,admin.,married,tertiary,no,1636,yes,yes,cellular,6,sep,136,1,521,2,failure,no
44720,36,admin.,married,secondary,no,194,yes,yes,cellular,7,sep,120,3,-1,0,unknown,no
44745,62,retired,married,secondary,no,2801,yes,yes,cellular,9,sep,261,1,183,1,success,yes
44795,49,management,married,tertiary,no,1093,yes,yes,cellular,15,sep,316,1,246,4,success,yes
44816,35,management,married,unknown,no,2326,yes,yes,cellular,16,sep,319,1,-1,0,unknown,yes
44822,27,blue-collar,married,secondary,no,821,yes,yes,unknown,16,sep,23,1,778,41,other,no
44855,43,unemployed,married,secondary,no,0,yes,yes,cellular,23,sep,183,2,184,13,failure,yes
44873,35,technician,married,tertiary,no,0,yes,yes,cellular,23,sep,112,1,62,6,other,no
44887,49,management,married,tertiary,no,1167,yes,yes,cellular,24,sep,249,1,91,14,success,yes
44918,35,admin.,married,tertiary,no,318,yes,yes,cellular,1,oct,142,1,-1,0,unknown,no
44947,55,admin.,divorced,secondary,no,0,yes,yes,cellular,7,oct,122,1,245,4,failure,no
44982,46,admin.,married,secondary,no,171,yes,yes,cellular,11,oct,251,1,430,1,failure,no
45007,29,admin.,married,tertiary,no,167,yes,yes,cellular,13,oct,357,2,237,2,failure,no
45043,39,admin.,divorced,secondary,no,728,yes,yes,cellular,18,oct,222,1,-1,0,unknown,yes
45064,52,admin.,married,secondary,no,423,yes,yes,cellular,20,oct,139,2,96,7,failure,no
45069,52,technician,married,secondary,no,371,yes,yes,cellular,21,oct,453,1,183,3,success,yes
45103,33,admin.,married,secondary,no,51,yes,yes,cellular,25,oct,253,1,284,3,success,yes
45108,36,technician,married,tertiary,no,844,yes,yes,cellular,25,oct,129,1,-1,0,unknown,no
45122,40,entrepreneur,single,tertiary,no,262,yes,yes,unknown,26,oct,17,1,-1,0,unknown,no
45151,47,management,single,tertiary,no,311,yes,yes,cellular,9,nov,255,3,378,2,failure,no
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no

In [11]:
len(df_housing[df_housing['loan'] == 'yes'])

4367

In [12]:
# 3. How many people with 60+ age
df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [14]:
df[df['age']>60]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
199,61,blue-collar,divorced,primary,no,1428,yes,no,unknown,5,may,82,2,-1,0,unknown,no
575,61,retired,married,secondary,no,195,yes,yes,unknown,6,may,179,1,-1,0,unknown,no
1233,61,blue-collar,married,primary,no,734,yes,no,unknown,8,may,204,1,-1,0,unknown,no
2435,61,retired,married,primary,no,1060,yes,no,unknown,13,may,118,1,-1,0,unknown,no
2992,61,retired,married,secondary,no,4248,yes,no,unknown,14,may,71,1,-1,0,unknown,no
3615,61,retired,married,secondary,no,280,yes,no,unknown,15,may,88,3,-1,0,unknown,no
4181,61,blue-collar,married,primary,no,625,yes,no,unknown,19,may,158,2,-1,0,unknown,no
6722,61,retired,divorced,secondary,no,1857,yes,no,unknown,28,may,173,4,-1,0,unknown,no
8128,61,retired,married,primary,no,-156,yes,yes,unknown,2,jun,283,5,-1,0,unknown,no
8625,61,retired,married,primary,no,296,yes,yes,unknown,3,jun,323,2,-1,0,unknown,no
9130,61,housemaid,married,unknown,no,0,no,no,unknown,5,jun,118,1,-1,0,unknown,no
10017,61,retired,married,secondary,no,173,no,no,unknown,9,jun,182,2,-1,0,unknown,no
10795,61,retired,married,secondary,no,296,no,no,unknown,17,jun,18,1,-1,0,unknown,no
11153,61,entrepreneur,divorced,secondary,no,369,no,no,unknown,18,jun,82,1,-1,0,unknown,no
11613,61,unknown,married,tertiary,no,50,no,no,unknown,19,jun,216,2,-1,0,unknown,no
12562,61,retired,married,secondary,no,313,no,yes,unknown,3,jul,42,1,-1,0,unknown,no
12656,61,retired,married,unknown,no,-492,no,yes,unknown,4,jul,333,1,-1,0,unknown,no
14551,61,retired,married,secondary,no,76,yes,no,cellular,15,jul,195,7,-1,0,unknown,no
16156,61,technician,married,secondary,no,50,yes,no,cellular,22,jul,213,5,-1,0,unknown,no
16183,61,retired,married,secondary,no,479,no,no,cellular,22,jul,464,5,-1,0,unknown,no
16783,61,retired,divorced,secondary,no,291,no,no,cellular,24,jul,286,5,-1,0,unknown,no
18715,61,retired,divorced,secondary,no,410,no,yes,cellular,31,jul,470,4,-1,0,unknown,no
19205,61,retired,married,secondary,no,77,no,no,cellular,6,aug,455,4,-1,0,unknown,yes
19655,61,housemaid,married,tertiary,no,746,no,no,cellular,7,aug,108,4,-1,0,unknown,no
20065,61,housemaid,married,primary,no,368,no,no,cellular,8,aug,62,3,-1,0,unknown,no
21092,61,blue-collar,married,primary,no,1115,no,no,cellular,14,aug,197,4,-1,0,unknown,no
21370,61,retired,married,primary,no,0,yes,yes,telephone,18,aug,280,13,-1,0,unknown,no
21415,61,management,married,secondary,no,985,no,no,cellular,18,aug,998,6,-1,0,unknown,yes
22928,61,management,married,tertiary,no,7935,no,no,cellular,26,aug,427,17,-1,0,unknown,no
28906,66,housemaid,married,secondary,no,1929,no,no,cellular,2,feb,169,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45082,66,retired,married,primary,no,8,no,no,cellular,22,oct,56,2,-1,0,unknown,no
45091,61,retired,married,primary,no,2686,no,no,telephone,22,oct,84,3,-1,0,unknown,no
45095,77,retired,divorced,primary,no,2693,no,no,cellular,25,oct,83,2,94,12,other,no
45096,63,retired,married,secondary,no,1495,no,no,cellular,25,oct,389,1,195,4,other,yes
45097,61,self-employed,married,tertiary,no,10861,no,no,cellular,25,oct,225,1,91,5,success,yes
45101,74,retired,married,secondary,no,935,no,no,cellular,25,oct,400,1,173,3,success,yes
45104,73,retired,married,primary,no,1388,no,no,telephone,25,oct,254,1,97,6,failure,no
45109,78,management,married,unknown,no,1780,yes,no,cellular,25,oct,211,2,185,7,success,yes
45111,64,retired,married,primary,no,445,no,no,cellular,26,oct,338,3,186,1,other,no
45118,78,retired,married,primary,no,14204,no,no,cellular,26,oct,150,1,183,1,other,no
45127,67,blue-collar,married,secondary,no,16353,no,no,cellular,27,oct,223,2,-1,0,unknown,no
45132,61,retired,married,secondary,no,1058,no,no,cellular,27,oct,277,1,92,5,success,no
45134,70,retired,married,secondary,no,0,no,no,cellular,27,oct,258,1,92,5,success,yes
45140,63,entrepreneur,married,secondary,no,3904,no,no,telephone,8,nov,360,1,96,4,success,yes
45141,77,unknown,married,unknown,no,397,no,no,telephone,8,nov,207,1,185,3,success,no
45150,65,management,married,unknown,no,2352,no,no,cellular,8,nov,354,3,188,13,success,no
45152,61,housemaid,married,primary,no,182,no,no,cellular,9,nov,335,1,92,13,failure,no
45153,64,retired,married,tertiary,no,2059,no,yes,cellular,9,nov,326,1,95,1,other,no
45154,63,retired,married,primary,no,3738,no,no,telephone,9,nov,301,1,456,4,failure,no
45163,71,retired,married,secondary,no,2064,no,no,cellular,9,nov,379,2,92,3,failure,no
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45174,62,blue-collar,married,secondary,no,272,no,no,cellular,11,nov,289,1,92,3,success,yes
45180,66,retired,married,secondary,no,3409,no,no,cellular,15,nov,414,2,27,6,failure,no
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes

In [15]:
len(df[df['age']>60])

1188

In [16]:
# 4. In which month we have targeted most of customer
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [17]:
month = df.groupby('month')['month'].count()

In [18]:
month.sort_values(ascending=False)

month
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

In [19]:
# 5. Which mode of call giving more result
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [20]:
df.groupby('contact')['contact'].count()

contact
cellular     29285
telephone     2906
unknown      13020
Name: contact, dtype: int64

In [21]:
# 6. How many entrepreneur in the list
df[df['job'] == 'entrepreneur']

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
55,38,entrepreneur,single,tertiary,no,243,no,yes,unknown,5,may,174,1,-1,0,unknown,no
94,57,entrepreneur,divorced,secondary,no,-37,no,no,unknown,5,may,173,1,-1,0,unknown,no
172,53,entrepreneur,married,unknown,no,19,yes,no,unknown,5,may,252,1,-1,0,unknown,no
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,unknown,5,may,300,1,-1,0,unknown,no
232,57,entrepreneur,married,secondary,no,294,yes,no,unknown,5,may,746,2,-1,0,unknown,no
241,43,entrepreneur,married,unknown,no,100,yes,no,unknown,5,may,702,1,-1,0,unknown,no
256,59,entrepreneur,divorced,secondary,no,901,yes,no,unknown,5,may,73,3,-1,0,unknown,no
264,41,entrepreneur,married,primary,no,236,yes,no,unknown,5,may,151,1,-1,0,unknown,no
273,56,entrepreneur,divorced,secondary,no,155,no,no,unknown,5,may,118,3,-1,0,unknown,no
357,33,entrepreneur,single,tertiary,no,1068,yes,no,unknown,5,may,396,2,-1,0,unknown,no
414,36,entrepreneur,married,tertiary,no,1169,yes,no,unknown,6,may,168,2,-1,0,unknown,no
515,49,entrepreneur,married,secondary,no,167,yes,yes,unknown,6,may,198,3,-1,0,unknown,no
562,35,entrepreneur,married,secondary,yes,204,yes,no,unknown,6,may,424,2,-1,0,unknown,no
576,53,entrepreneur,married,secondary,no,288,no,no,unknown,6,may,69,1,-1,0,unknown,no
634,52,entrepreneur,married,tertiary,no,-184,yes,yes,unknown,6,may,392,2,-1,0,unknown,no
645,38,entrepreneur,married,tertiary,no,898,yes,no,unknown,6,may,132,2,-1,0,unknown,no
664,41,entrepreneur,married,unknown,no,89,yes,no,unknown,6,may,333,2,-1,0,unknown,no
695,44,entrepreneur,married,tertiary,no,1631,yes,no,unknown,6,may,346,2,-1,0,unknown,no
712,36,entrepreneur,married,tertiary,no,125,yes,no,unknown,6,may,95,3,-1,0,unknown,no
731,47,entrepreneur,married,unknown,no,209,yes,no,unknown,6,may,135,2,-1,0,unknown,no
747,31,entrepreneur,married,tertiary,no,281,yes,no,unknown,6,may,206,2,-1,0,unknown,no
837,45,entrepreneur,married,secondary,no,68,yes,no,unknown,7,may,254,1,-1,0,unknown,no
894,29,entrepreneur,married,primary,no,56,yes,yes,unknown,7,may,336,1,-1,0,unknown,no
947,46,entrepreneur,married,unknown,no,1481,yes,no,unknown,7,may,49,3,-1,0,unknown,no
982,33,entrepreneur,divorced,tertiary,no,188,yes,no,unknown,7,may,118,3,-1,0,unknown,no
987,42,entrepreneur,married,tertiary,no,157,yes,yes,unknown,7,may,650,1,-1,0,unknown,no
1018,52,entrepreneur,divorced,primary,no,278,yes,no,unknown,7,may,688,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43142,71,entrepreneur,married,tertiary,no,15265,no,no,cellular,25,feb,865,1,192,2,failure,no
43430,46,entrepreneur,married,tertiary,no,9,no,no,cellular,8,apr,126,6,-1,0,unknown,no
43445,51,entrepreneur,divorced,tertiary,no,2109,no,no,cellular,12,apr,119,1,181,2,success,no
43502,60,entrepreneur,married,primary,no,2408,no,no,telephone,20,apr,102,4,-1,0,unknown,no
43519,58,entrepreneur,married,secondary,no,496,no,no,cellular,22,apr,132,1,-1,0,unknown,yes
43810,26,entrepreneur,single,secondary,no,681,no,yes,unknown,27,may,137,1,-1,0,unknown,no
43837,41,entrepreneur,married,tertiary,no,70,no,no,unknown,31,may,14,1,557,1,failure,no
43952,53,entrepreneur,married,tertiary,no,1961,no,no,cellular,18,jun,91,2,185,1,success,no
44130,50,entrepreneur,divorced,tertiary,no,315,no,no,cellular,12,jul,101,2,185,2,failure,no
44231,32,entrepreneur,married,tertiary,no,762,no,no,cellular,19,jul,187,11,-1,0,unknown,yes
44351,39,entrepreneur,married,secondary,no,689,no,no,cellular,30,jul,240,3,-1,0,unknown,no
44406,63,entrepreneur,married,secondary,no,3904,no,no,telephone,4,aug,250,2,187,2,success,yes
44455,21,entrepreneur,single,tertiary,no,2077,no,no,cellular,5,aug,323,1,-1,0,unknown,yes
44495,44,entrepreneur,married,tertiary,no,121,no,no,cellular,10,aug,412,1,-1,0,unknown,yes
44503,38,entrepreneur,single,secondary,no,2543,no,no,cellular,10,aug,223,1,414,4,failure,yes
44515,65,entrepreneur,married,tertiary,no,2331,no,no,telephone,11,aug,425,1,183,2,success,yes
44578,36,entrepreneur,married,secondary,no,-280,no,no,unknown,17,aug,6,1,-1,0,unknown,no
44607,34,entrepreneur,married,secondary,no,4659,yes,no,unknown,30,aug,28,1,-1,0,unknown,no
44652,33,entrepreneur,single,tertiary,no,1623,yes,no,cellular,2,sep,291,3,-1,0,unknown,yes
44691,32,entrepreneur,married,secondary,no,390,no,no,cellular,6,sep,440,1,280,1,failure,yes
44705,38,entrepreneur,married,tertiary,no,1649,no,yes,cellular,6,sep,218,2,432,3,success,no
44792,40,entrepreneur,married,tertiary,no,3585,no,no,cellular,15,sep,506,3,-1,0,unknown,yes
44845,40,entrepreneur,married,secondary,no,6403,no,no,cellular,22,sep,208,2,-1,0,unknown,yes
44969,51,entrepreneur,divorced,tertiary,no,315,no,no,cellular,11,oct,291,1,91,4,failure,no
45083,59,entrepreneur,married,secondary,no,496,no,no,cellular,22,oct,738,3,183,1,success,yes
45122,40,entrepreneur,single,tertiary,no,262,yes,yes,unknown,26,oct,17,1,-1,0,unknown,no
45140,63,entrepreneur,married,secondary,no,3904,no,no,telephone,8,nov,360,1,96,4,success,yes
45155,44,entrepreneur,married,tertiary,no,121,no,no,cellular,9,nov,248,1,91,1,success,yes
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [22]:
len(df[df['job'] == 'entrepreneur'])

1487

In [23]:
# 7. How many customer with negative balance
df[df['balance'] < 0]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,unknown,5,may,365,1,-1,0,unknown,no
37,53,technician,married,secondary,no,-3,no,no,unknown,5,may,1666,1,-1,0,unknown,no
45,36,admin.,single,primary,no,-171,yes,no,unknown,5,may,242,1,-1,0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,5,may,355,1,-1,0,unknown,no
51,48,management,divorced,tertiary,no,-244,yes,no,unknown,5,may,253,1,-1,0,unknown,no
53,42,admin.,single,secondary,no,-76,yes,no,unknown,5,may,787,1,-1,0,unknown,no
54,24,technician,single,secondary,no,-103,yes,yes,unknown,5,may,145,1,-1,0,unknown,no
94,57,entrepreneur,divorced,secondary,no,-37,no,no,unknown,5,may,173,1,-1,0,unknown,no
100,44,blue-collar,married,secondary,no,-674,yes,no,unknown,5,may,257,1,-1,0,unknown,no
112,56,self-employed,married,primary,no,-34,yes,yes,unknown,5,may,212,2,-1,0,unknown,no
117,33,management,single,tertiary,no,-67,yes,no,unknown,5,may,364,1,-1,0,unknown,no
127,34,services,married,secondary,no,-16,yes,yes,unknown,5,may,78,1,-1,0,unknown,no
150,51,blue-collar,married,unknown,no,-19,yes,no,unknown,5,may,163,2,-1,0,unknown,no
152,40,management,married,tertiary,no,-4,yes,no,unknown,5,may,2033,1,-1,0,unknown,no
210,38,blue-collar,married,secondary,no,-390,yes,no,unknown,5,may,287,1,-1,0,unknown,no
214,54,blue-collar,married,primary,no,-41,yes,no,unknown,5,may,288,1,-1,0,unknown,no
222,35,entrepreneur,divorced,secondary,no,-69,yes,no,unknown,5,may,300,1,-1,0,unknown,no
230,47,blue-collar,married,primary,no,-12,yes,no,unknown,5,may,18,1,-1,0,unknown,no
239,49,blue-collar,divorced,primary,no,-9,yes,yes,unknown,5,may,389,1,-1,0,unknown,no
267,39,admin.,divorced,secondary,no,-349,yes,no,unknown,5,may,611,2,-1,0,unknown,no
276,39,services,divorced,secondary,no,-185,yes,no,unknown,5,may,189,3,-1,0,unknown,no
281,41,admin.,married,secondary,no,-62,yes,yes,unknown,5,may,55,2,-1,0,unknown,no
315,46,admin.,married,secondary,no,-358,yes,no,unknown,5,may,358,2,-1,0,unknown,no
332,30,blue-collar,single,secondary,no,-457,yes,no,unknown,5,may,143,2,-1,0,unknown,no
338,51,admin.,single,secondary,yes,-2,no,no,unknown,5,may,402,3,-1,0,unknown,no
342,40,blue-collar,divorced,secondary,no,-333,yes,no,unknown,5,may,183,2,-1,0,unknown,no
347,39,blue-collar,married,primary,no,-100,yes,no,unknown,5,may,680,2,-1,0,unknown,no
412,39,admin.,single,secondary,no,-25,yes,no,unknown,6,may,576,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40795,34,admin.,single,secondary,no,-32,no,yes,cellular,11,aug,89,3,103,2,success,no
40963,26,management,single,tertiary,no,-8,no,no,cellular,13,aug,402,2,-1,0,unknown,no
41010,26,technician,single,tertiary,no,-67,yes,no,cellular,13,aug,143,1,90,1,success,no
41095,42,admin.,married,primary,no,-306,yes,no,cellular,17,aug,308,1,459,1,success,yes
41142,44,management,married,tertiary,no,-600,yes,no,cellular,18,aug,360,1,-1,0,unknown,no
41234,53,retired,divorced,tertiary,no,-309,yes,no,cellular,21,aug,343,2,428,2,success,yes
41546,27,student,single,tertiary,no,-148,yes,no,cellular,11,sep,146,3,224,1,other,no
42401,27,blue-collar,single,secondary,no,-46,yes,no,cellular,3,dec,97,3,199,8,other,no
42961,35,admin.,single,secondary,no,-32,no,yes,cellular,9,feb,63,4,182,5,failure,yes
43049,27,management,single,tertiary,no,-69,yes,no,cellular,15,feb,205,3,-1,0,unknown,yes
43176,28,blue-collar,single,secondary,no,-46,yes,no,cellular,2,mar,525,1,89,11,failure,yes
43427,27,technician,single,tertiary,no,-67,yes,no,cellular,6,apr,604,3,236,2,failure,yes
43488,36,management,married,tertiary,no,-115,yes,no,cellular,16,apr,297,4,182,2,other,yes
43704,29,management,single,tertiary,no,-27,no,no,cellular,13,may,270,1,-1,0,unknown,yes
43727,48,technician,divorced,secondary,no,-63,no,yes,unknown,15,may,7,1,670,5,other,no
43843,28,blue-collar,single,secondary,no,-46,yes,no,cellular,1,jun,154,2,91,12,success,yes
44240,35,blue-collar,married,secondary,no,-17,yes,no,unknown,20,jul,7,1,-1,0,unknown,no
44284,27,technician,single,secondary,no,-69,no,no,unknown,26,jul,4,1,-1,0,unknown,no
44302,31,services,single,secondary,yes,-248,no,no,unknown,27,jul,5,1,-1,0,unknown,no
44343,47,management,divorced,tertiary,no,-130,yes,no,cellular,30,jul,221,4,431,5,other,no
44459,29,admin.,single,tertiary,no,-197,no,no,unknown,6,aug,47,1,-1,0,unknown,no
44469,35,admin.,single,secondary,no,-32,no,yes,cellular,6,aug,366,2,178,9,success,yes
44541,28,management,single,tertiary,no,-62,no,no,unknown,12,aug,17,1,-1,0,unknown,no
44566,34,services,married,secondary,no,-52,no,no,unknown,13,aug,12,1,-1,0,unknown,no
44578,36,entrepreneur,married,secondary,no,-280,no,no,unknown,17,aug,6,1,-1,0,unknown,no
44626,31,services,single,secondary,no,-205,no,no,cellular,1,sep,481,1,579,1,failure,yes
44629,28,blue-collar,single,secondary,no,-46,yes,no,cellular,1,sep,199,1,92,14,success,yes
44836,33,blue-collar,married,primary,no,-195,no,no,unknown,20,sep,9,1,-1,0,unknown,no
44908,48,management,divorced,tertiary,no,-130,yes,no,cellular,29,sep,110,2,61,9,failure,no
44964,21,blue-collar,single,primary,no,-42,no,no,unknown,10,oct,5,1,-1,0,unknown,no

In [24]:
len(df[df['balance'] < 0])

3766

In [25]:
# 8. Prepare a group of data based on education level
df.groupby('education')

In [30]:
ind=df.groupby('education').size().index
ind

Index(['primary', 'secondary', 'tertiary', 'unknown'], dtype='object', name='education')

In [32]:
ind[0]

'primary'

In [33]:
df.groupby('education').get_group(ind[0])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
45,36,admin.,single,primary,no,-171,yes,no,unknown,5,may,242,1,-1,0,unknown,no
59,46,services,married,primary,no,179,yes,no,unknown,5,may,1778,1,-1,0,unknown,no
62,57,blue-collar,married,primary,no,249,yes,no,unknown,5,may,164,1,-1,0,unknown,no
73,55,blue-collar,married,primary,no,23,yes,no,unknown,5,may,291,1,-1,0,unknown,no
85,51,blue-collar,married,primary,no,173,yes,no,unknown,5,may,529,2,-1,0,unknown,no
101,53,blue-collar,married,primary,no,90,no,no,unknown,5,may,124,1,-1,0,unknown,no
102,52,blue-collar,married,primary,no,128,yes,no,unknown,5,may,229,1,-1,0,unknown,no
103,59,blue-collar,married,primary,no,179,yes,no,unknown,5,may,55,3,-1,0,unknown,no
112,56,self-employed,married,primary,no,-34,yes,yes,unknown,5,may,212,2,-1,0,unknown,no
113,36,blue-collar,married,primary,no,448,yes,no,unknown,5,may,286,1,-1,0,unknown,no
114,59,retired,divorced,primary,no,81,yes,no,unknown,5,may,107,1,-1,0,unknown,no
119,57,technician,married,primary,no,0,no,no,unknown,5,may,98,1,-1,0,unknown,no
140,53,housemaid,divorced,primary,no,947,yes,no,unknown,5,may,163,1,-1,0,unknown,no
146,56,blue-collar,divorced,primary,no,8,yes,no,unknown,5,may,157,2,-1,0,unknown,no
148,43,services,married,primary,no,3,yes,no,unknown,5,may,186,2,-1,0,unknown,no
149,54,blue-collar,married,primary,no,348,yes,no,unknown,5,may,579,2,-1,0,unknown,no
154,50,technician,married,primary,no,139,no,no,unknown,5,may,114,2,-1,0,unknown,no
169,50,blue-collar,married,primary,no,0,no,no,unknown,5,may,233,3,-1,0,unknown,no
173,35,retired,single,primary,no,434,no,no,unknown,5,may,138,1,-1,0,unknown,no
185,58,retired,married,primary,no,235,yes,no,unknown,5,may,167,1,-1,0,unknown,no
199,61,blue-collar,divorced,primary,no,1428,yes,no,unknown,5,may,82,2,-1,0,unknown,no
212,59,housemaid,divorced,primary,no,195,no,no,unknown,5,may,366,2,-1,0,unknown,no
214,54,blue-collar,married,primary,no,-41,yes,no,unknown,5,may,288,1,-1,0,unknown,no
218,46,housemaid,married,primary,no,965,no,no,unknown,5,may,177,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44830,81,retired,married,primary,no,1154,no,no,telephone,17,sep,231,1,-1,0,unknown,yes
44835,46,services,married,primary,no,4343,yes,no,unknown,20,sep,185,1,-1,0,unknown,yes
44836,33,blue-collar,married,primary,no,-195,no,no,unknown,20,sep,9,1,-1,0,unknown,no
44849,70,retired,married,primary,no,3782,no,no,cellular,22,sep,704,2,190,1,failure,no
44875,82,retired,divorced,primary,no,928,no,no,telephone,23,sep,217,2,188,3,other,no
44892,89,retired,married,primary,no,0,no,no,telephone,27,sep,157,5,-1,0,unknown,no
44893,81,retired,divorced,primary,no,949,no,no,cellular,27,sep,188,2,280,1,other,yes
44894,72,retired,married,primary,no,4657,no,no,cellular,27,sep,132,4,94,16,other,no
44911,67,retired,married,primary,no,4416,no,no,cellular,29,sep,245,3,-1,0,unknown,yes
44939,79,retired,divorced,primary,no,336,no,no,cellular,6,oct,386,1,184,1,other,no
44964,21,blue-collar,single,primary,no,-42,no,no,unknown,10,oct,5,1,-1,0,unknown,no
44988,27,unemployed,single,primary,no,93,no,no,unknown,11,oct,4,1,-1,0,unknown,no
44989,59,retired,divorced,primary,no,606,no,no,unknown,12,oct,54,1,526,2,failure,no
45010,86,retired,married,primary,no,1255,no,no,cellular,14,oct,192,2,92,4,success,no
45029,40,housemaid,married,primary,no,979,no,no,cellular,15,oct,106,4,-1,0,unknown,no
45062,58,retired,married,primary,no,742,no,no,unknown,20,oct,5,1,-1,0,unknown,no
45082,66,retired,married,primary,no,8,no,no,cellular,22,oct,56,2,-1,0,unknown,no
45089,57,unemployed,divorced,primary,no,282,no,no,cellular,22,oct,460,1,88,4,other,no
45091,61,retired,married,primary,no,2686,no,no,telephone,22,oct,84,3,-1,0,unknown,no
45095,77,retired,divorced,primary,no,2693,no,no,cellular,25,oct,83,2,94,12,other,no
45104,73,retired,married,primary,no,1388,no,no,telephone,25,oct,254,1,97,6,failure,no
45111,64,retired,married,primary,no,445,no,no,cellular,26,oct,338,3,186,1,other,no
45118,78,retired,married,primary,no,14204,no,no,cellular,26,oct,150,1,183,1,other,no
45124,27,blue-collar,single,primary,no,232,yes,no,cellular,26,oct,701,2,-1,0,unknown,yes
45135,53,blue-collar,married,primary,no,1294,no,no,unknown,28,oct,71,1,-1,0,unknown,no
45152,61,housemaid,married,primary,no,182,no,no,cellular,9,nov,335,1,92,13,failure,no
45154,63,retired,married,primary,no,3738,no,no,telephone,9,nov,301,1,456,4,failure,no
45170,19,student,single,primary,no,245,no,no,telephone,10,nov,98,2,110,2,other,no
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes

In [34]:
df.groupby('education').get_group(ind[1])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
30,57,technician,married,secondary,no,839,no,yes,unknown,5,may,225,1,-1,0,unknown,no
32,60,admin.,married,secondary,no,39,yes,yes,unknown,5,may,208,1,-1,0,unknown,no
33,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
35,57,technician,divorced,secondary,no,63,yes,no,unknown,5,may,242,1,-1,0,unknown,no
36,25,blue-collar,married,secondary,no,-7,yes,no,unknown,5,may,365,1,-1,0,unknown,no
37,53,technician,married,secondary,no,-3,no,no,unknown,5,may,1666,1,-1,0,unknown,no
38,36,admin.,divorced,secondary,no,506,yes,no,unknown,5,may,577,1,-1,0,unknown,no
39,37,admin.,single,secondary,no,0,yes,no,unknown,5,may,137,1,-1,0,unknown,no
40,44,services,divorced,secondary,no,2586,yes,no,unknown,5,may,160,1,-1,0,unknown,no
41,50,management,married,secondary,no,49,yes,no,unknown,5,may,180,2,-1,0,unknown,no
43,54,retired,married,secondary,no,529,yes,no,unknown,5,may,1492,1,-1,0,unknown,no
47,44,technician,married,secondary,no,0,yes,no,unknown,5,may,225,2,-1,0,unknown,no
48,55,technician,divorced,secondary,no,0,no,no,unknown,5,may,160,1,-1,0,unknown,no
50,54,blue-collar,married,secondary,no,1291,yes,no,unknown,5,may,266,1,-1,0,unknown,no
53,42,admin.,single,secondary,no,-76,yes,no,unknown,5,may,787,1,-1,0,unknown,no
54,24,technician,single,secondary,no,-103,yes,yes,unknown,5,may,145,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45160,35,technician,married,secondary,no,0,yes,no,cellular,9,nov,524,1,96,5,success,yes
45162,29,admin.,single,secondary,no,464,no,no,cellular,9,nov,208,2,91,3,success,yes
45163,71,retired,married,secondary,no,2064,no,no,cellular,9,nov,379,2,92,3,failure,no
45167,48,admin.,married,secondary,no,178,no,no,cellular,10,nov,228,1,-1,0,unknown,no
45171,33,admin.,single,secondary,no,690,no,no,cellular,10,nov,223,3,555,16,failure,no
45174,62,blue-collar,married,secondary,no,272,no,no,cellular,11,nov,289,1,92,3,success,yes
45175,38,entrepreneur,single,secondary,no,2543,no,no,cellular,11,nov,357,3,93,5,success,yes
45176,54,admin.,married,secondary,no,66,yes,no,cellular,11,nov,167,1,-1,0,unknown,yes
45177,36,admin.,divorced,secondary,no,1224,yes,no,cellular,12,nov,482,1,374,1,success,yes
45178,34,blue-collar,married,secondary,no,320,yes,no,cellular,12,nov,413,1,92,3,success,yes
45179,34,technician,married,secondary,no,1026,no,no,cellular,12,nov,319,1,100,6,failure,no
45180,66,retired,married,secondary,no,3409,no,no,cellular,15,nov,414,2,27,6,failure,no
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [35]:
df.groupby('education').get_group(ind[2])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
31,49,management,married,tertiary,no,378,yes,no,unknown,5,may,230,1,-1,0,unknown,no
34,51,management,married,tertiary,no,10635,yes,no,unknown,5,may,336,1,-1,0,unknown,no
46,58,self-employed,married,tertiary,no,-364,yes,no,unknown,5,may,355,1,-1,0,unknown,no
49,29,management,single,tertiary,no,0,yes,no,unknown,5,may,363,1,-1,0,unknown,no
51,48,management,divorced,tertiary,no,-244,yes,no,unknown,5,may,253,1,-1,0,unknown,no
52,32,management,married,tertiary,no,0,yes,no,unknown,5,may,179,1,-1,0,unknown,no
55,38,entrepreneur,single,tertiary,no,243,no,yes,unknown,5,may,174,1,-1,0,unknown,no
56,38,management,single,tertiary,no,424,yes,no,unknown,5,may,104,1,-1,0,unknown,no
60,32,admin.,married,tertiary,no,0,yes,no,unknown,5,may,138,1,-1,0,unknown,no
65,51,management,married,tertiary,no,6530,yes,no,unknown,5,may,91,1,-1,0,unknown,no
66,60,retired,married,tertiary,no,100,no,no,unknown,5,may,528,1,-1,0,unknown,no
67,59,management,divorced,tertiary,no,59,yes,no,unknown,5,may,273,1,-1,0,unknown,no
84,46,self-employed,married,tertiary,no,137,yes,yes,unknown,5,may,246,1,-1,0,unknown,no
95,36,management,married,tertiary,no,101,yes,yes,unknown,5,may,426,1,-1,0,unknown,no
97,60,retired,married,tertiary,no,81,yes,no,unknown,5,may,101,1,-1,0,unknown,no
99,46,management,married,tertiary,no,229,yes,no,unknown,5,may,197,1,-1,0,unknown,no
104,27,technician,single,tertiary,no,0,yes,no,unknown,5,may,400,1,-1,0,unknown,no
106,47,technician,married,tertiary,no,151,yes,no,unknown,5,may,190,1,-1,0,unknown,no
109,45,management,married,tertiary,no,523,yes,no,unknown,5,may,849,2,-1,0,unknown,no
117,33,management,single,tertiary,no,-67,yes,no,unknown,5,may,364,1,-1,0,unknown,no
118,59,management,divorced,tertiary,no,262,no,no,unknown,5,may,178,1,-1,0,unknown,no
124,52,technician,married,tertiary,no,7,no,yes,unknown,5,may,175,1,-1,0,unknown,no
134,28,unemployed,single,tertiary,no,0,yes,no,unknown,5,may,125,2,-1,0,unknown,no
142,57,unemployed,married,tertiary,no,42,no,no,unknown,5,may,46,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45131,47,management,married,tertiary,no,0,no,no,cellular,27,oct,508,1,-1,0,unknown,yes
45136,53,self-employed,married,tertiary,no,730,yes,no,unknown,2,nov,18,1,368,2,failure,no
45137,30,management,single,tertiary,no,297,no,no,cellular,8,nov,188,1,-1,0,unknown,yes
45139,44,management,married,tertiary,no,839,no,no,cellular,8,nov,240,1,40,2,other,no
45142,34,admin.,married,tertiary,no,79,yes,no,cellular,8,nov,120,2,95,6,success,no
45145,28,services,single,tertiary,no,441,no,no,cellular,8,nov,106,1,-1,0,unknown,no
45146,49,unemployed,divorced,tertiary,no,780,no,no,cellular,8,nov,148,1,871,2,failure,no
45149,38,technician,married,tertiary,no,88,no,no,cellular,8,nov,282,2,186,4,success,yes
45151,47,management,single,tertiary,no,311,yes,yes,cellular,9,nov,255,3,378,2,failure,no
45153,64,retired,married,tertiary,no,2059,no,yes,cellular,9,nov,326,1,95,1,other,no
45155,44,entrepreneur,married,tertiary,no,121,no,no,cellular,9,nov,248,1,91,1,success,yes
45156,37,management,married,tertiary,no,3556,no,no,cellular,9,nov,268,1,-1,0,unknown,yes
45157,52,technician,married,tertiary,no,0,no,no,cellular,9,nov,467,3,92,7,failure,yes
45161,31,management,married,tertiary,no,720,yes,no,cellular,9,nov,94,3,-1,0,unknown,no
45164,35,services,married,tertiary,no,4655,no,no,cellular,9,nov,111,2,-1,0,unknown,no
45165,33,technician,married,tertiary,no,2976,yes,no,cellular,9,nov,465,2,95,12,other,no
45166,41,unemployed,single,tertiary,no,79,no,no,telephone,9,nov,394,1,390,2,success,yes
45168,62,retired,married,tertiary,no,2557,yes,no,cellular,10,nov,404,1,57,8,success,yes
45169,31,management,married,tertiary,no,2994,yes,no,cellular,10,nov,182,1,229,2,failure,no
45172,30,technician,single,tertiary,no,2325,no,no,cellular,10,nov,134,1,92,8,success,no
45173,36,admin.,single,tertiary,no,980,no,no,cellular,11,nov,118,4,104,7,failure,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes

In [37]:
df.groupby('education').get_group(ind[3])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
42,60,blue-collar,married,unknown,no,104,yes,no,unknown,5,may,22,1,-1,0,unknown,no
44,58,retired,married,unknown,no,96,yes,no,unknown,5,may,616,1,-1,0,unknown,no
57,47,blue-collar,married,unknown,no,306,yes,no,unknown,5,may,13,1,-1,0,unknown,no
58,40,blue-collar,single,unknown,no,24,yes,no,unknown,5,may,185,1,-1,0,unknown,no
64,49,blue-collar,married,unknown,no,154,yes,no,unknown,5,may,357,1,-1,0,unknown,no
93,60,blue-collar,married,unknown,no,54,yes,no,unknown,5,may,221,1,-1,0,unknown,no
120,56,technician,divorced,unknown,no,56,yes,no,unknown,5,may,439,1,-1,0,unknown,no
122,34,admin.,married,unknown,no,3,yes,no,unknown,5,may,120,3,-1,0,unknown,no
130,55,management,married,unknown,no,1185,no,no,unknown,5,may,677,1,-1,0,unknown,no
137,43,services,single,unknown,no,0,no,no,unknown,5,may,73,1,-1,0,unknown,no
150,51,blue-collar,married,unknown,no,-19,yes,no,unknown,5,may,163,2,-1,0,unknown,no
156,51,blue-collar,married,unknown,no,1883,yes,no,unknown,5,may,57,1,-1,0,unknown,no
160,48,services,married,unknown,no,1705,yes,no,unknown,5,may,107,1,-1,0,unknown,no
172,53,entrepreneur,married,unknown,no,19,yes,no,unknown,5,may,252,1,-1,0,unknown,no
186,40,services,divorced,unknown,no,4384,yes,no,unknown,5,may,315,1,-1,0,unknown,no
203,35,student,single,unknown,no,298,yes,no,unknown,5,may,611,2,-1,0,unknown,no
208,39,services,single,unknown,no,257,yes,no,unknown,5,may,408,1,-1,0,unknown,no
216,47,unknown,married,unknown,no,28,no,no,unknown,5,may,338,2,-1,0,unknown,no
217,53,unemployed,married,unknown,no,13,no,no,unknown,5,may,410,3,-1,0,unknown,no
224,43,technician,divorced,unknown,no,205,yes,no,unknown,5,may,1419,1,-1,0,unknown,no
226,58,management,married,unknown,no,1065,yes,no,unknown,5,may,213,3,-1,0,unknown,no
228,36,blue-collar,married,unknown,no,1033,no,no,unknown,5,may,238,2,-1,0,unknown,no
233,53,blue-collar,married,unknown,no,1827,no,no,unknown,5,may,121,1,-1,0,unknown,no
241,43,entrepreneur,married,unknown,no,100,yes,no,unknown,5,may,702,1,-1,0,unknown,no
245,42,management,married,unknown,no,275,no,no,unknown,5,may,408,2,-1,0,unknown,no
291,54,technician,single,unknown,no,447,yes,no,unknown,5,may,742,2,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44712,34,unemployed,single,unknown,no,517,no,no,cellular,6,sep,791,3,-1,0,unknown,no
44737,46,student,single,unknown,no,1527,no,no,cellular,8,sep,358,3,184,1,success,yes
44742,64,unknown,married,unknown,no,2799,no,no,telephone,9,sep,378,4,-1,0,unknown,no
44762,69,retired,married,unknown,no,426,no,no,telephone,10,sep,211,2,185,2,success,yes
44779,67,retired,married,unknown,no,2540,no,no,telephone,14,sep,279,3,92,9,success,yes
44789,24,student,single,unknown,no,358,no,no,cellular,14,sep,407,2,92,2,success,no
44790,21,student,single,unknown,no,1506,no,no,cellular,14,sep,340,1,-1,0,unknown,yes
44796,39,management,married,unknown,no,76,no,no,cellular,15,sep,200,1,183,1,success,yes
44804,32,student,single,unknown,no,0,no,no,unknown,15,sep,7,1,-1,0,unknown,no
44816,35,management,married,unknown,no,2326,yes,yes,cellular,16,sep,319,1,-1,0,unknown,yes
44819,58,management,divorced,unknown,no,2986,no,no,cellular,16,sep,414,1,91,5,other,yes
44823,20,student,single,unknown,no,2785,no,no,cellular,16,sep,327,2,-1,0,unknown,yes
44870,20,student,single,unknown,no,179,no,no,cellular,23,sep,317,1,182,6,failure,no
44871,37,blue-collar,single,unknown,no,217,no,no,cellular,23,sep,272,2,-1,0,unknown,yes
44900,28,admin.,single,unknown,no,174,no,no,cellular,28,sep,184,1,-1,0,unknown,no
44907,31,management,married,unknown,no,385,no,no,cellular,29,sep,242,2,491,4,failure,no
44919,37,blue-collar,married,unknown,no,444,no,no,cellular,1,oct,143,1,94,9,other,no
44951,48,services,divorced,unknown,no,973,no,no,cellular,8,oct,319,1,134,2,success,yes
44958,32,technician,single,unknown,no,491,no,no,cellular,8,oct,251,2,91,7,success,yes
44970,28,unknown,single,unknown,no,326,no,no,cellular,11,oct,450,1,231,1,success,yes
44983,35,blue-collar,divorced,unknown,no,172,no,no,unknown,11,oct,4,1,381,2,other,no
45022,42,admin.,married,unknown,no,756,no,no,cellular,14,oct,72,4,160,3,failure,no
45055,42,management,married,unknown,no,1519,no,no,cellular,19,oct,230,1,92,1,success,yes
45098,44,technician,single,unknown,no,11115,no,no,cellular,25,oct,189,1,185,4,success,no
45109,78,management,married,unknown,no,1780,yes,no,cellular,25,oct,211,2,185,7,success,yes
45129,46,technician,married,unknown,no,3308,no,no,cellular,27,oct,171,1,91,2,success,yes
45141,77,unknown,married,unknown,no,397,no,no,telephone,8,nov,207,1,185,3,success,no
45150,65,management,married,unknown,no,2352,no,no,cellular,8,nov,354,3,188,13,success,no
45158,34,student,single,unknown,no,2321,no,no,cellular,9,nov,600,2,99,5,failure,no
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no